@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

* {
	font-family: 'Permanent Marker', cursive;
}

h1 {
	margin: 10px;
}

#newuser {
	display: none;
}

#popup {
	position: fixed;
	width: 150px;
	background: #bbb;
	border: 1px solid black;
	top: 15px;
	right: 15px;
	text-align: center;
	opacity: 0.0;
	display: none;
}

#event {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	z-index: 9;
	display: none;
}

#event article {
	position: fixed;
	width: 400px;
	left: 89px;
	top: 189px;
	border: 1px solid black;
	padding: 16px;
	background: white;
	z-index: 10;
}

#event aside {
	position: absolute;
	width: 20px;
	text-align: center;
	top: 8px;
	right: 14px;
	cursor: pointer;
	background: white;
	color: black;
	transition: background 0.3s ease, color 0.3s ease;
}

#event aside:hover {
	background: black;
	color: white;
}

#event button {
	border: 1px solid black;
	cursor: pointer;
	margin-bottom: 6px;
	display: block;
	width: 400px;
	text-align: left;
}

#game {
	display: none;
}

#stat {
	margin-bottom: 4px;
}

#stat article {
	position: relative;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
}

#stat article p {
	margin: 0;
}

#stat .big {
	border-bottom: 0;
	width: 302px;
	display: block;
}

#stat .sml {
	width: 150px;
	border-left: 0;
}

#stat .first {
	border-left: 2px solid black;
}

#stat .newl {
	border-top: 0;
}

#tabs {
	clear: both;
}

#tabs article {
	width: 100px;
	padding: 2px;
	border: 2px solid black;
	border-bottom: 0;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

#tabs .sel {
	background: black;
	color: white;
}

.main {
	float: left;
	border: 1px solid black;
	margin-bottom: 16px;
}

.main article {
	text-align: center;
	display: block;
	border: 1px solid black;
	width: 575px;
}

.main article p {
	display: inline-block;
	margin: 5px;
	padding: 0;
}

.main article button {
	display: inline-block;
	margin: 5px;
	padding: 0;
	border: 1px solid black;
	cursor: pointer;
}

#mats {
	display: block;
}

#mats article .text {
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

#mats article .text p {
	width: 100px;
}

#mats article .prices {
	width: 450px;
	display: inline-block;
}

#mats article .prices .pr {
	width: 125px;
	margin: 6px;
	padding: 0;
	text-align: center;
}

#mats article .prices button p {
	width: 125px;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

#locs {
	display: none;
}

#locs article p {
	width: 400px;
}

#locs article button {
	width: 100px;
}

#upgs {
	display: none;
}

#upgs article p {
	width: 200px;
}

#upgs article button {
	width: 100px;
}

#upgs article .unl {
	width: 100px;
}

#bank {
	display: none;
}

#bank article p {
	width: 200px;
}

#bank article button {
	width: 50px;
}

#bank article p .scr {
	color: black;
	text-decoration: none;
	cursor: text;
}

#sets {
	display: none;
}

#sets article p {
	width: 350px;
}

#sets article button {
	width: 150px;
}